*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e0f7ff, #f5faff);
}

.wrapper{
  max-width: 1140px;
  margin: 0 auto;
}

